attic/

node_modules/

firefox/node_modules/
firefox/web-ext-artifacts/
firefox/dist
firefox/reddit-arctic-shift-integration.zip

chrome/node_modules/
chrome/dist
chrome/dist.pem
chrome/dist.crx
chrome/reddit-arctic-shift-integration.zip

# ignore all . folders but include . files
.*/